body {
  font-family: "Open Sans", sans-serif;
}
.core-layout {
  height: 100vh;
}
.ant-fullcalendar-header .ant-radio-group {
  display: none;
}
.calendar-sider {
  width: 270px;
  min-width: 270px !important;
  max-width: 270px !important;
  padding: 0 20px;
}
.daytime-wrapper:last-child {
  border-right: 1px solid rgb(206, 206, 206);
}
.sticky-head {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}
.time-tick-column:first-child {
  margin-top: 86px;
}
.event-form-tag-item {
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
}
.event-form-input,
.event-form-input:hover {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 22px;
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
}
.event-form-input:focus {
  border: none !important;
  border-radius: 0;
  border-bottom: 1px solid #1a73e8 !important;
}
