body {
  font-family: "Open Sans", sans-serif;
}
.core-layout {
  height: 100vh;
}
.ant-fullcalendar-header .ant-radio-group {
  display: none;
}
.calendar-sider {
  width: 270px;
  min-width: 270px !important;
  max-width: 270px !important;
  padding: 0 20px;
}
.daytime-wrapper:last-child {
  border-right: 1px solid rgb(206, 206, 206);
}
.sticky-head {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}
